{% extends 'socialaccount/base.html' %}

{% load i18n %}

{% block head_title %}{% trans 'Social Network Login Failure' %}{% endblock %}

{% block content %}
<!--Changed the standard html to extend base.html and then included the original account/base
   which has been set up as a side menu-->
   <div class="container-fluid">
    <div class="row align-items-center">
       <div class="col-md-12 mt-5">
          <div class="col-md-6 mx-auto card-with-background mb-5 px-5 pt-5">
             <h1>{% trans 'Social Network Login Failure' %}</h1>
             <p>{% trans 'An error occurred while attempting to login via your social network account.' %}</p>
          </div>
       </div>
    </div>
 </div>
{% endblock %}