{% extends 'socialaccount/base.html' %}
{% load i18n %}
{% block head_title %}{% trans 'Login Cancelled' %}{% endblock %}
{% block content %}
<!--Changed the standard html to extend base.html and then included the original account/base
   which has been set up as a side menu-->
   <div class="container-fluid">
    <div class="row align-items-center">
       <div class="col-md-12 mt-5">
          <div class="col-md-6 mx-auto card-with-background mb-5 px-5 pt-5">
             <h1 class="bolder">{% trans 'Login Cancelled' %}</h1>
             {% url 'account_login' as login_url %}
             <p>{% blocktrans %}You decided to cancel logging in to our site using one of your existing accounts. If
                this was a mistake, please proceed to <a class="step-link" href="{{login_url}}">sign in</a>.{% endblocktrans %}
             </p>
          </div>
       </div>
    </div>
 </div>
{% endblock %}