{% extends 'socialaccount/base.html' %}

{% load i18n %}

{% block head_title %}{% trans 'Signup' %}{% endblock %}

{% block content %}
<!--Changed the standard html to extend base.html and then included the original account/base
   which has been set up as a side menu-->
   <div class="container-fluid">
    <div class="row align-items-center">
       <div class="col-md-12 mt-5">
          <div class="col-md-6 mx-auto card-with-background mb-5 px-5 pt-5">
             <h1 class="bolder">{% trans 'Sign Up' %}</h1>
             <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your
                {{provider_name}} account to login to
                {{site_name}}. As a final step, please complete the following form:{% endblocktrans %}
             </p>
             <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn get-started mt-3 right mb-5" type="submit">{% trans "Sign Up" %} &raquo;</button>
             </form>
          </div>
       </div>
    </div>
 </div>
{% endblock %}