<div class="wrapper">
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-account">
          <i class="fas fa-align-left"></i>
          <span>Account</span>
        </button>
      </div>
    </nav>
  </div>
  <!-- Sidebar -->
  <nav id="sidebar">
    <ul class="list-unstyled components">
      <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle step-link">Options</a>
        <ul class="collapse list-unstyled step-link" id="homeSubmenu">
          {% if user.is_authenticated %}
          <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
          <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
          {% else %}
          <li><a href="{% url 'account_login' %}">Sign In</a></li>
          <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
          {% endif %}
        </ul>
      </li>
      {% if messages %}
      <li>
        <a href="#messageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Messages</a>
        <ul class="collapse list-unstyled" id="messageSubmenu">
          {% for message in messages %}
          <li>{{message}}</li>
          {% endfor %}
        </ul>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
</div>