{% extends 'base.html' %}

{% load i18n %}

{% block head_title %}{% trans 'Change Password' %}{% endblock %}

{% block content %}
{{ block.super }}
{% include 'account/base.html' %}
<!--Changed the standard html to extend base.html and then included the original account/base
   which has been set up as a side menu-->
   <div class="container-fluid">
    <div class="row align-items-center">
       <div class="col-md-12 mt-5">
          <div class="col-md-6 mx-auto card-with-background mb-5 px-5 pt-5">
             <h1 class="bolder">{% trans 'Change Password' %}</h1>
             <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn get-started mt-3 right mb-5" type="submit"
                   name="action">{% trans 'Change Password' %}</button>
                <a class="step-link" href="{% url 'account_reset_password' %}">{% trans 'Forgot Password?' %}</a>
             </form>
          </div>
       </div>
    </div>
 </div>
{% endblock %}