{% extends 'base.html' %}

{% load i18n %}

{% block head_title %}{% trans 'Set Password' %}{% endblock %}

{% block content %}
{{ block.super }}
{% include 'account/base.html' %}
<!--Changed the standard html to extend base.html and then included the original account/base
   which has been set up as a side menu-->
   <div class="container-fluid">
    <div class="row align-items-center">
       <div class="col-md-12 mt-5">
          <div class="col-md-6 mx-auto card-with-background mb-5 px-5 pt-5">
             <h1 class="bolder">{% trans 'Set Password' %}</h1>
             <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn get-started mt-3 right mb-5" type="submit" name="action"
                   value="{% trans 'Set Password' %}" />
             </form>
          </div>
       </div>
    </div>
 </div>
{% endblock %}