{% extends 'base.html' %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans 'Password Reset' %}{% endblock %}

{% block content %}
{{ block.super }}
{% include 'account/base.html' %}
<!--Changed the standard html to extend base.html and then included the original account/base
   which has been set up as a side menu-->
   <div class="container-fluid">
    <div class="row align-items-center">
       <div class="col-md-12 mt-5">
          <div class="col-md-6 mx-auto card-with-background mb-5 px-5 pt-5">
             <h1 class="bolder">{% trans 'Password Reset' %}</h1>
             {% if user.is_authenticated %}
             {% include 'account/snippets/already_logged_in.html' %}
             {% endif %}
             <p>{% trans 'Forgotten your password? Enter your e-mail address below, and we\'ll send you an e-mail allowing you to reset it.' %}
             </p>
             <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn get-started mt-3 right mb-5" type="submit" value="{% trans 'Reset My Password' %}" />
             </form>
             <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
             </p>
          </div>
       </div>
    </div>
 </div>
{% endblock %}