{% extends "base.html" %}

{% block title %}Create - Surveys{% endblock %}



{% block content %}



{% load crispy_forms_tags %}

<div class="container">

	<!--Django Model Form-->

	<h2 class="my-4">Customise your own Design Thinking Survey</h2>

	<form method="post" enctype="multipart/form-data" class="ui form {% if form.errors %}error{% endif %}" novalidate>

		{% csrf_token %}

		{{form|crispy}}

		<div><button class="btn mb-3 mr-1 get-started" type="submit">Create</button></div>

		<div><a class="btn mb-3 mr-1 get-started" href="{% url 'survey-list' %}" role="button">Cancel</a></div>

		<div>
			<p>Click cancel to return to your list of surveys.</p>
		</div>

		{% if form.errors %}

		<div class="ui message error">

			<div class="header">We had some issues</div>

			<ul class="list">

				{% for field in form %}

				{% for error in field.errors %}

				<li>{{ field.label_tag }} {{ error }}</li>

				{% endfor %}

				{% endfor %}

				{% for error in form.non_field_errors %}

				<li>{{ error }}</li>

				{% endfor %}

			</ul>

		</div>

		{% endif %}

	</form>

</div>



{% endblock %}