{% extends "base.html" %}

{% block title %}List - Surveys{% endblock %}



{% block content %}

<div class="container">

	<div class="row">

		<div class="col-md-12">

			<h1 class="card-title bolder">Welcome {{ request.user.username }}</h1>

			<a class="btn mb-3 mr-1 get-started survey-button" href="{% url 'survey-create' %}" role="button"
				aria-label="button to be clicked to create a new survey">Create a new survey</a>

		</div>

		<div class="col-md-12">

			{% if surveys %}

			<h2 class="card-title bolder">Your surveys</h2>

			<div class="table-responsive">

				<table class="table">

					<caption>List of Surveys created</caption>

					<thead>

						<tr>

							<th class="col">Image</th>

							<th class="col">Title</th>

							<th class="col">Created At</th>

							<th class="col">Actions</th>

						</tr>

					</thead>

					<tbody>

						{% for survey in surveys %}

						<tr>

							{% if "placeholder" in survey.survey_image.url %}

							<td class="align-middle"><img
									src="https://res.cloudinary.com/newxperience/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1636711280/Xperience%20DezignWiz/design-thinking-placeholder.jpg"
									class="survey-image img-fluid" alt="Responsive image"></td>

							{% else %}

							<td><img class="survey-image img-fluid" src=" {{ survey.survey_image.url }} "
									alt="Responsive image"></td>

							{% endif %}

							<td class="align-middle">{{ survey.survey_title }}</td>

							<td class="align-middle">{{ survey.created_at }}</td>

							<td class="align-middle">

								{% if survey.is_active %}

								<div>

									<a href="{% url 'survey-detail' survey.pk %}">

										<button class="btn btn-direction-color mb-3 mr-1 survey-button">view</button>

									</a></div>

								{% else %}

								<div>

									<a href="{% url 'survey-edit' survey.pk %}">

										<button class="btn btn-direction-color mb-3 mr-1 survey-button">edit</button>

									</a></div>

								{% endif %}

								<div>

									<form method="post" action="{% url 'survey-delete' survey.pk %}"
										style="display: inline-block;">

										{% csrf_token %}

										<button class="btn btn-direction-color mb-3 mr-1 survey-button">delete</button>

									</form>

								</div>

							</td>

						</tr>

						{% endfor %}

					</tbody>

				</table>

			</div>

			{% else %}

			<h2 class="card-title bolder">Your surveys

				<div class="card-title">You don't have any surveys yet, try creating one first.</div>

			</h2>

			{% endif %}

			<div><a class="btn mb-3 mr-1 get-started" href="{{ request.META.HTTP_REFERER }}" type="button">Return</a>

			</div>

		</div>

	</div>

</div>

{% endblock %}