{% extends 'steps.html' %}
{% block first %}
{% load cloudinary %}
{% cloudinary step_instance.image crop='scale' fetch_format='auto' %}
<!--The original template set up was completed using the 'I Think Therefore I Blog'
   Code Institute project. The template has been fully customised to align with
   project requirements-->
<div class="col-12">
   <div class="row">
      <!--The for statement loops through the Step model and returns each step as a card-->
      {% for step in step_list %}
      <div class="col-md-4 mb-3">
         <!-- Card created as per Code Institute 'I Think Therefore I Blog' and fully customised for site -->
         <div class="card card-with-background">
            <div class="image-container">
               <!-- The if statement checks if the title placeholder exists in the image url
                  if it does the placeholder image is displayed, if not the unique feature image
                  per step is displayed.-->
               {% if 'placeholder' in step.feature_image.url %}
               <img class="card-img-top img-border" alt="placeholder image of a bright light" 
                  aria-label="placeholder image of a bright light"
                  src="https://res.cloudinary.com/newxperience/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1636711280/Xperience%20DezignWiz/design-thinking-placeholder.jpg">
               {% else %}
               <img class="card-img-top img-border" alt="{{ step.feature_image.name }}image related to the purpose of the design thinking step"
                  aria-label="{{ step.feature_image.name }}" src=" {{ step.feature_image.image.url }}">
               {% endif %}
               <div class="image-overlay" aria-label="image overlay containing the step number">
                  <h2 class="step-number">Step Number: {{ step.order_number }} </h2>
               </div>
            </div>
            <div class="card-body">
               <a href="{% url 'step_detail' step.slug %}" class="step-link">
                  <h2 class="card-title bolder">{{ step.title }}</h2>
               </a>
               <h3 class="card-text">{{ step.excerpt }}</h3>
               <hr />
               <div class="step-information">
                  <!--The if and elif statements are utilised to return the correct progress
                     status per step depending on whether a user is logged in or not and if the
                     user has updated their status per step-->
                  <p class="card-text h5">Status:
                     {% if 'Getting Started' in step.title %}
                     {{ progress }}
                     {% elif 'Empathy' in step.title %}
                     {{ progress_02 }}
                     {% elif 'Define' in step.title %}
                     {{ progress_03 }}
                  </p>
                  {% else %}
                  <p> Not Started </p>
                  {% endif %}
                  <!--The count of resources selected per step is returned-->
                  <p class="card-text h5">Resources:
                     {{ step.number_of_resources }}
                  </p>
                  <!--The count of tools selected per step is returned-->
                  <p class="card-text h5">Tools:
                     {{ step.number_of_tools }}
                  </p>
               </div>
            </div>
         </div>
      </div>
      {% endfor %}
   </div>
</div>
{% endblock %}