{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}
<div class="jumbotron">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 jumbotron-text">
                <h1 class="step-title">{{ step.title }}</h1>
                <!-- step author goes before the | the step's created date goes after -->
                <p class="step-subtitle">Step Number: {{ step.order_number }} | Status:
                    {{ step.progress }}</p>
            </div>
            <div class="d-none d-md-block col-md-6">
                <!-- The featured image URL goes in the src attribute -->
                <p class="steps-icon"><i class="fas fa-cogs"></i></p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row g-0">
        <div class="col-md-12 card mb-3">
            <div class="card align-items-center">
                {% if "placeholder" in step.step_image.url %}
                <div class="step-image"><img
                        src="https://res.cloudinary.com/newxperience/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1636711280/Xperience%20DezignWiz/design-thinking-placeholder.jpg"
                        class="card-img-top img-fluid image-inner" alt="Responsive image"></div>
                {% else %}
                <div class="step-image"><img src=" {{ step.step_image.url }}" class="card-img-top img-fluid image-inner"
                        alt="Responsive image"></div>
                {% endif %}
                <div class="card-body">
                    <p class="card-text text-center">
                        {{ step.excerpt | safe }}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 text-end">
            <!--Tooltip code from W3 school tutorial and adapted for site 
          https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip_arrow_bottom
          -->

            <a id="prev-button" class="btn btn-direction-color mb-3 mr-1"
                href="{% url 'step_detail' slug=step_display_prev %}" role="button"
                aria-label="button to be clicked to view the previous step" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Previous"><i class="fa fa-arrow-left"></i></a>
            <a id="next-button" class="btn btn-direction-color  mb-3"
                href="{% url 'step_detail' slug=step_display_next %}" role="button"
                aria-label="button to be clicked to view the next step" data-bs-toggle="tooltip" data-bs-placement="top"
                title="Next"><i class="fa fa-arrow-right"></i></a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row g-0">
        <div class="col=md-12  mb-4  mt-3">
            <hr>
        </div>
    </div>

    <div class="col-12">
        <div class="row">
            <h2 class="card-title bolder">Resources:</h2>

            {% if "placeholder" in step.video_name %}
            <div>
                <p>No videos have been added for this step.</p>
            </div>
            {% else %}
            <div class="col-md-4 mb-3">
                <div class="card card-with-background">
                    <div class="card-body">
                        <h4 class="card-title bolder">{{ step.video_name }}</h4>
                    </div>
                    <div class="iframe-container">
                        <iframe class="embed-responsive-item" width="100%" height="100%" src="{{ step.video_url }}"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if "placeholder" in step.video_two_name %}
            <div class="hidden"></div>
            {% else %}
            <div class="col-md-4 mb-3">
                <div class="card card-with-background">
                    <div class="card-body">
                        <h4 class="card-title bolder">{{ step.video_two_name }}</h4>
                    </div>
                    <div class="iframe-container">
                        <iframe class="embed-responsive-item" width="100%" height="100%" src="{{ step.video_two_url }}"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if "placeholder" in step.video_three_name %}
            <div class="hidden"></div>
            {% else %}
            <div class="col-md-4 mb-3">
                <div class="card card-with-background">
                    <div class="card-body">
                        <h4 class="card-title bolder">{{ step.video_three_name }}</h4>
                    </div>
                    <div class="iframe-container">
                        <iframe class="embed-responsive-item" width="100%" height="100%"
                            src="{{ step.video_three_url }}" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="col-12">
        <div class="row">
            <h2 class="card-title bolder">Design Thinking tools:</h2>
            <p class="card-text card-italic-smaller">Follow the below links to access some helpful information.</p>
            <div class="col-md-4 mb-3 ">
                <div class="card">
                    {% if "placeholder" in template_01 %}
                    <div class="hidden"></div>
                    {% else %}
                    <div class="card-body">
                        <p class="card-title mx-auto"><span class="card-text tool-icons mr-5"><i
                                    class="fas fa-wrench"></i></span> {{ template_01 }} <a class="btn btn-go-color"
                                href="{% url 'step_templates' slug=temp_slug_01 %}" role="button"
                                aria-label="button to be clicked to view the template for the step"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Go"><i
                                    class="fas fa-arrow-right"></i></a></p>
                    </div>
                    {% endif %}
                    {% if "placeholder" in template_02 %}
                    <div class="hidden"></div>
                    {% else %}
                    <div class="card-body">
                        <p class="card-title mx-auto"><span class="card-text tool-icons mr-5"><i
                                    class="fas fa-screwdriver"></i></span> {{ template_02 }} <a class="btn btn-go-color"
                                href="{% url 'step_templates' slug=temp_slug_02 %}" role="button"
                                aria-label="button to be clicked to view the template for the step"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Go"><i
                                    class="fas fa-arrow-right"></i>
                            </a></p>
                    </div>
                    {% endif %}
                    {% if "placeholder" in template_03 %}
                    <div class="hidden"></div>
                    {% else %}
                    <div class="card-body">
                        <p class="card-title mx-auto"><span class="card-text tool-icons mr-5"><i
                                    class="fas fa-hammer"></i></span> {{ template_03}} <a class="btn btn-go-color"
                                href="{% url 'step_templates' slug=temp_slug_03 %}" role="button"
                                aria-label="button to be clicked to view the template for the step"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Go"><i
                                    class="fas fa-arrow-right"></i></a></p>
                    </div>
                    {% endif %}

                    {% if "Empathy" in step.title %}
                    <div class="card-body">
                        <p class="card-text card-italic-smaller">Utilise the below tool to customise your own survey
                            template.</p>
                        <p class="card-title mx-auto"><span class="card-text tool-icons mr-5"><i
                                    class="fas fa-tools"></i></span> Design Thinking Surveys <a class="btn btn-go-color"
                                href="{% url 'survey' %}" role="button"
                                aria-label="button to be clicked to view the template for the step"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Go"><i
                                    class="fas fa-arrow-right"></i></a></p>
                    </div>
                    {% else %}
                    <div class="hidden"></div>
                    {% endif %}
                </div>
            </div>

        </div>

    </div>
</div>
<div class="container">
    <div class="col-12">
        <div class="row">
            <div class="col-md-8 card mb-4  mt-3 ">
                <h2 class="card-title bolder">Updates:</h2>
                <p class="card-italic-smaller">Create your own update comments to track your progress through the Design
                    Thinking process.</p>
                <div class="card-body">
                    <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
                    {% for comment in comments %}
                    <div class="comments" style="padding: 10px;">
                        <p class="card-title bolder">
                            {{ comment.name }}
                            <span class="card-text text-muted h5">
                                {{ comment.created_on }}
                            </span> wrote:
                        </p>
                        {{ comment.body | linebreaks }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4 card mb-4  mt-3 ">
                <div class="card-body">
                    {% if user.is_authenticated %}
                    <h2 class="card-title bolder">Create an Update:</h2>
                    <p class="card-italic-smaller">Posting as: {{ user.username }}</p>
                    <form method="post" style="margin-top: 1.3em;">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}