{% extends "base.html" %}
{% block title %} Default Options - Surveys{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<!--The following site provided a Django project blueprint to build a survey app. This was
   followed alongside the git hub page. I then customised the HTML and CSS to align with my
   site's design and functionality. https://mattsegal.dev/django-survey-project.html. All forms
   are formatted and validated through crispy forms.-->
<div class="container">
   <div class="row align-items-center">
      <div class="col-md-12 mt-5">
         <div class="col-md-6 mx-auto card-with-background mb-5 px-5 pt-5">
            <h1 class="card-title bolder mt-3 mb-5">Default Questions:</h1>
            <div class="ui container left aligned">
               <form method="post" enctype="multipart/form-data" class="ui form {% if form.errors %}error{% endif %}"
                  novalidate>
                  <!--The option form is utilised to capture each new option -->
                  {% csrf_token %}

                  <div>The below questions and options will be included by default:
                     <h3 class="card-title bolder mt-3">{{ age_question }}</h3>
                  </div>
                  <div class="form-group col-md-6 mb-0 text-form">
                     <ul>
                        {% for age in age_ranges %}
                        <li>{{ age }}</li>
                        {% endfor %}
                     </ul>
                  </div>
                  <h3 class="card-title bolder mt-3">{{ gender_question }}</h3>
                  <div class="form-group col-md-6 mb-0 text-form">
                     <ul>
                        {% for gender in genders %}
                        <li>{{ gender }}</li>
                        {% endfor %}
                     </ul>
                  </div>
                  <h3 class="card-title bolder mt-3">{{ industry_question }}</h3>
                  <div class="form-group col-md-6 mb-0 text-form">
                     <ul>
                        {% for industry in industries %}
                        <li>{{ industry }}</li>
                        {% endfor %}
                     </ul>
                  </div>
                  <h3 class="card-title bolder mt-3">Upon submission, the questions will be automatically activated </h3>
                  <div><button class="btn mb-3 mr-1 get-started ml-3" type="submit">Accept</button></div>
                  <!--An if statement and two for statements are utilised to provide an  error message per field and non-fields only if any 
                     errors occur.-->
                  {% if form.errors %}
                  <div class="ui message error">
                     <div class="header">We had some issues</div>
                     <ul class="list">
                        {% for field in form %}
                        {% for error in field.errors %}
                        <li>{{ field.label_tag }} {{ error }}</li>
                        {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                     </ul>
                  </div>
                  {% endif %}
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}