{% extends "base.html" %}
{% block title %}Submit - Surveys{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<!--The following site provided a Django project blueprint to build a survey app. This was
followed alongside the git hub page. I then customised the HTML and CSS to align with my
site's design and functionality. https://mattsegal.dev/django-survey-project.html. All forms
are formatted and validated through crispy forms.-->
<div class="container">
    <div class="row-fluid align-items-center">
        <div class="col-md-12 mt-5">
            <!--The first page within the survey will take the user to answer the default questions added by admin.
            These are picklist options and are required.-->
            <div class="col-md-6 mx-auto card-with-background mb-5 px-5 pt-5">
                <h2 class="card-title bolder mt-1">Your answers to {{ survey.title }}</h2>
                <form method="post" enctype="multipart/form-data" class="ui form {% if form.errors %}error{% endif %}"
                    novalidate>
                    {% csrf_token %}
                    <div class="form-group col-md-6 mb-0 text-form bolder">
                        {{ form.gender|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0 text-form bolder">
                        {{ form.age_range|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0 text-form bolder">
                        {{ form.industry|as_crispy_field }}
                    </div>
                    <button type="submit" class="btn mb-5 mr-1 get-started">Submit</button>
                    <!--The Cancel button will return the user to the site's home page-->
                    <a class="btn mb-5 mr-1 get-started" href="{% url 'home' %}" role="button">Cancel and Return
                        Home</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}