{% extends "base.html" %}
{% block title %}Submit - Surveys{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="card-title bolder mt-5">Your answers to {{ survey.title }}</h1>
            <form method="post" novalidate>
                {% csrf_token %}
                {{form|crispy}}

        </div>
    </div>
    <button type="submit" class="btn mb-3 mr-1 get-started">Submit</button>
    <div><a class="btn mb-3 mr-1 get-started" href="{% url 'home' %}" type="button">Cancel and Return Home</a></div>
    </form>
</div>

</div>

</div>
{% endblock %}