{% extends "base.html" %}

{% block title %}View - Surveys{% endblock %}



{% block content %}

<div class="container mt-5">

	<div class="row">

		<div class="col-md-12 text-center">

			<h1 class="card-title">{{ survey.title }}</h1>

			<h3 class="card-title">You have {{ num_submissions }} submissions</h3>

			<h3 class="card-title"><a class="btn mb-3 mr-1 get-started" role="button" href="{{ public_url }}"
					alt="Click this button to start the survey">Start

					Survey</a></h3>

			<h1 class="card-title bolder dividing">Results</h1>
			<div class="text-center">

				<h2 class="card">
					Age Range:
				</h2>
				{% for age in age_range %}
				<ul>
					{% if 0 in age.percent %}
					<li>
						{{ forloop.counter }}) {{ age }}: 0.00%
					</li>
					{% else %}
					<li>
						{{ forloop.counter }}) {{ age }}: {{ age.percent|floatformat }}%
					</li>
					{% endif %}
				</ul>
				{% endfor %}

				<h2 class="card">
					Gender:
				</h2>
				{% for gender in gender_range %}
				<ul>
					{% if '0' in gender.percent %}
					<li>
						{{ forloop.counter }}) {{ gender }}: 0.00%
					</li>
					{% else %}
					<li>
						{{ forloop.counter }}) {{ gender }}: {{ gender.percent|floatformat }}%
					</li>
					{% endif %}
				</ul>
				{% endfor %}

				<h2 class="card">
					Industry:
				</h2>
				{% for industry in industry_range %}
				<ul>
					<li>
						{{ forloop.counter }}) {{ industry }}: {{ industry.percent|floatformat }}%
					</li>
				</ul>
				{% endfor %}

				{% for question in questions %}
				<h2 class="card">
					Question {{ forloop.counter }} / {{ questions|length }}: {{ question.question }}
				</h2>
				<ul>
					{% for option in question.option_set.all %}
					<li>
						{{ forloop.counter }}) {{option.option}}: {{ option.percent|floatformat }}%
					</li>

					{% endfor %}
				</ul>
				{% endfor %}
			</div>





			<div><a class="btn mb-3 mr-1 get-started" href="{% url 'survey-list' %}" type="button">Return</a>

			</div>



		</div>

	</div>

</div>

{% endblock %}