{% extends "base.html" %}
{% block title %}Create - Surveys{% endblock %}
{% block content %}
<div class="container">
   <!--The following site provided a Django project blueprint to build a survey app. This was
      followed alongside the git hub page. I then customised the HTML and CSS to align with my
      site's design and functionality. https://mattsegal.dev/django-survey-project.html. All forms
      are formatted and validated through crispy forms.-->
   <div class="row align-items-center">
      <div class="col-md-12 mt-5">
         <div class="col-md-6 mx-auto card-with-background mb-5 px-5 pt-5">
            <!--A for loop is utilised to display all questions with their options
               already created. The user is provided with a button to add a new
               question. -->
            <h2 class="card-title bolder mt-5">Add questions to {{survey.title}}:</h2>
            <div class="ui container left aligned">
               {% for question in questions %}
               <div class="ui basic padded segment">
                  <h3 class="ui header">
                     Question {{ forloop.counter }} / {{ questions|length }}: {{ question.question }}
                  </h3>
                  <ul>
                     {% for option in question.option_set.all %}
                     <li>
                        {{ forloop.counter }}) {{option.option}}
                     </li>
                     {% endfor %}
                  </ul>
               </div>
               {% endfor %}
               <a class="btn mb-3 mr-1 get-started"
                  href="{% url 'survey-question-create' survey.pk %}" role="button">Add a question
               </a>
                             <!--If at least one question has been added to the survey a submit button is presented
                  to the user as an activate survey button to submit the Surveyform.-->
               {% if questions|length > 0 %}
               <div class="ui divider"></div>
               <form style="display: inline-block;" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn mb-5 mr-1 get-started">Activate survey</button>
               </form>
               <!--Return links styled as buttons were added to all pages, to always allow the user
                  to return to the previous page. In this instance I change ti to return to the survey-list,
                                as if the user creates questions and options above, the previous page will not exit the survey
                                it would return them to add a new question.-->
               <a href="{% url 'survey-list' %}" role="button">
                  <div class="btn mb-5 mr-1 get-started">Return</div>
               </a>
               {% endif %}
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}