{% extends 'base.html' %}
{% load cloudinary %}
{% cloudinary survey_instance.survey_image crop='scale' fetch_format='auto' width='100%' height='100%' %}
{% block title %}Start - Surveys{% endblock %}

{% block content %}
<div class="container">
    <div class="row-fluid align-items-center">
        <div class="col-md-12 mt-5">
            <div class="col-md-6 mx-auto card-with-background mb-5 px-5 pt-5">
                <div class="image-container">
                    {% if 'placeholder' in survey.survey_image.url %}
                    <div class="mx-auto">
                        <img src="https://res.cloudinary.com/newxperience/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1636711280/Xperience%20DezignWiz/design-thinking-placeholder.jpg"
                            class="step-tool img-fluid" alt="Placeholder image of a bright light"
                            aria-label="Placeholder image of a bright light">
                    </div>
                    {% else %}
                    <div class=" mx-auto"><img src=" {{ survey.survey_image.url }}"
                            class="step-tool img-fluid" alt="Image added to survey bu the user"
                            aria-label="Image added for survey by the individual user">
                    </div>
                    {% endif %}
                </div>
                <div class="card-body text-center">
                    <h2 class="card-title bolder mt-5">{{ survey.title }}</h2>
                    <div class="card-title ">You have been invited to take this survey</div>
                    <div class="ui container">
                        <form method="post" action="{% url 'survey-start' survey.pk %}">
                            {% csrf_token %}
                            <div><button class="btn mb-3 mr-1 get-started" type="submit">Start Survey</button></div>
                            <div><a class="btn mb-3 mr-1 get-started" href="{% url 'home' %}" role="button">Cancel
                                    and
                                    Return Home</a></div>
                            <div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}