{% extends "base.html" %}
{% block title %}Start - Surveys{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="card-title bolder mt-5">{{ survey.title }}</h2>
            <div class="card-title ">You have been invited to take this survey</div>
            <div class="ui container left aligned">
                <form method="post" action="{% url 'survey-start' survey.pk %}">
                    {% csrf_token %}
                    <div><button class="btn mb-3 mr-1 get-started" type="submit">Start Survey</button></div>
                    <div><a class="btn mb-3 mr-1 get-started" href="{% url 'home' %}"
                            role="button">Cancel and Return Home</a></div>
                    <div>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}