{% extends "base.html" %}
{% block title %}Submit - Surveys{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<!--The following site provided a Django project blueprint to build a survey app. This was
   followed alongside the git hub page. I then customised the HTML and CSS to align with my
   site's design and functionality. https://mattsegal.dev/django-survey-project.html. This form
   does not use crispy forms but formset.management as per the default set up.-->
<div class="container">
   <div class="row-fluid align-items-center">
      <div class="col-md-12 mt-3">
         <!--The second page within the survey will take the user to answer the  questions added by the user.
            These are radio button options which the user will need to select between.-->
         <div class="col-md-6 mx-auto card-with-background mb-5 px-5 pt-5">
            <h2 class="card-title bolder mt-5">Your answers to {{ survey.title }}</h2>
            <form method="post" novalidate>
               {% csrf_token %}
               <div class="ui basic padded segment left aligned">
                  <div class="ui form {% if form.errors %}error{% endif %}">
                     <h3 class="ui header bolder">
                        Question: {{ age_question }}
                     </h3>
                     <div class="form-group col-md-6 mb-0 text-form bolder">
                        {{ default_answer_form.age_range|as_crispy_field }}
                     </div>
                  </div>
               </div>
               <div class="ui basic padded segment left aligned">
                  <div class="ui form {% if form.errors %}error{% endif %}">
                     <h3 class="ui header bolder">
                        Question: {{ gender_question }}
                     </h3>
                     <div class="form-group col-md-6 mb-0 text-form bolder">
                        {{ default_answer_form.gender|as_crispy_field }}
                     </div>
                  </div>
                  <div class="ui basic padded segment left aligned">
                     <div class="ui form {% if form.errors %}error{% endif %}">
                        <h3 class="ui header bolder">
                           Question: {{ industry_question }}
                        </h3>
                        <div class="form-group col-md-6 mb-0 text-form bolder">
                           {{ default_answer_form.industry|as_crispy_field }}
                        </div>
                     </div>
                  </div>
                  {% csrf_token %}
                  {{ formset.management_form }}
                  <!--A for loop will return all created questions and their options -->
                  {% for question, form in question_forms %}
                  <div class="ui basic padded segment left aligned">
                     <div class="ui form {% if form.errors %}error{% endif %}">
                        <h3 class="ui header bolder">
                           Question {{ forloop.counter }}: {{ question.question }}
                        </h3>
                        {% for field in form %}
                        <div class="field {% if field.errors %}error{% endif %}">
                           {{ field }}
                        </div>
                        {% endfor %}
                     </div>
                  </div>
                  {% endfor %}
                  <button type="submit" class="btn mb-3 mr-1 get-started">Submit</button>
                  <!--The Cancel button will return the user to the site's home page-->
                  <div><a class="btn mb-5 mr-1 get-started" href="{% url 'home' %}" role="button">Cancel
                        and
                        Return
                        Home</a>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
{% endblock %}