body {
    background-color: #ffffff;
    font-family: 'Dongle', sans-serif;
}

.logo {
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #031633;
}

.nav-background {
    background-color: #e2f0f9;
}

.scarlett-x {
    color: #df4c73;
    font-size: 2.5rem;
}

.search {
    font-size: 1.4rem;
}

.enter-search::content {
    border: #df4c73;

}

.btn-outline {
    border: solid 1px #df4c73;
}

.btn-outline:hover {
    background-color: #df4c73;
    color: #ffffff;
    font-weight: bold;
}

.logo-small {
    font-size: 2rem;
    color: #df4c73;
}

.light-bg {
    background-color: #fff;
}


ul {
    list-style-type: none;
   }


.footer-background {
    background-color: #286fb4
}

.btn-direction-color {
    background-color: #286fb4;
    color: #ffffff;
    text-align: center;
    ;
}

.btn-direction-color:hover {
    color: #df4c73;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
}

.card-with-background {
    background-color: #e2f1f7;
    border: 2px solid #e2f1f7;
    border-radius: 5px;
}


.bolder {
    font-weight: bolder;
}

.smaller-font {
    font-size: 1.5rem;
}

.image-container {
    position: relative;
}

.image-overlay {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: 2px;
    background-color: #df4c73;
    border: 2px solid #df4c73;
    border-radius: 5px;
}

.step-number {
    color: white;
    margin: 4px;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.jumbotron {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 35vh;
    width: 100%;
}

.jumbotron-text {
    background-color: #73929d;
    color: white;
}

.steps-icon {
    color: white;
    font-size: 14rem;
    text-align: right;
    vertical-align: middle;
    background-color: #73929d;
    padding: 5px;

}

.image-inner {
    box-shadow: 0 0 10px 10px #73929d ;
}

.step-image {
    width: 250px;
    border: 10px solid #73929d;
    border-radius: 5px;
}


.step-link {
    text-decoration: none;
    color: #445261;
}

.step-link:hover,
.page-link {
    color: #df4c73;
}

.step-title {
    margin-top: 15%;
    margin-left: 5%;
}

.step-subtitle {
    margin-left: 5%;
    color: #f5f6f6;
    margin-bottom: 15px;
}

.btn-signup {
    background-color: #df4c73;
    color: #fff;
    margin-top: 5px;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #df4c73;
}

.link {
    color: #df4c73;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #df4c73;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #df4c73;
    background: transparent;
    border: none;
}

.step-information {
    display: flex;
    align-content: stretch;
}

.step-information p {
    padding: 0px 5px;
}

/* Code from W3 schools tutorial on Tooltips
https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip_arrow_bottom */

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #12194A;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #12194A;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #12194A transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  


@media (max-width: 365px) {
    .collapse-search {
        display: none
    }
}