{% extends 'openid/base.html' %}

{% load i18n %}

{% block head_title %}OpenID Sign In{% endblock %}

{% block content %}
<!--Changed the standard html to extend base.html and then included the original account/base
   which has been set up as a side menu-->
   <div class="container-fluid">
      <div class="row align-items-center">
         <div class="col-md-12 mt-5">
            <div class="col-md-6 mx-auto card-with-background mb-5 px-5 pt-5">
               <h1>{% trans 'OpenID Sign In' %}</h1>
               <form id="openid_login_form" class="openid_login" method="post" action="{% url 'openid_login' %}">
                  {% csrf_token %}
                  {{form.as_p}}
                  <button class="btn get-started mt-3 right mb-5" type="submit">Sign In</button>
               </form>
            </div>
         </div>
      </div>
   </div>
   {% endblock %}

{% endblock %}