{% extends "base.html" %}

{% block content %}

<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-3">Design Thinking Steps </h3>
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1" href="#carousel-steps" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3 " href="#carousel-steps" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carousel-steps" class="carousel slide" data-ride="carousel" data-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <div class="image-container">
                                            <img class="card-img-top"
                                                src="https://res.cloudinary.com/newxperience/image/upload/v1636711280/Xperience%20DezignWiz/design_thinking_placeholder_ebd5z6.jpg">

                                            <div class="image-flash">
                                                <p class="author">Step Number: 1 </p>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <a href="#" class="post-link">
                                                <h2 class="card-title">Overview</h2>
                                                <p class="card-text">An introduction and overview of the Design Thinking process</p>
                                            </a>
                                            <hr />
                                            <div class="step-information">
                                                <p class="card-text text-muted h6">Status:
                                                    Not Started</p>
                                                <p class="card-text text-muted h6">Resources:
                                                    1</p>
                                                <p class="card-text text-muted h6">Templates:
                                                    1</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <div class="image-container">
                                            <img class="card-img-top"
                                                src="https://res.cloudinary.com/newxperience/image/upload/v1636711280/Xperience%20DezignWiz/design_thinking_placeholder_ebd5z6.jpg">

                                            <div class="image-flash">
                                                <p class="author">Step Number: 2 </p>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <a href="#" class="post-link">
                                                <h2 class="card-title">Empathy</h2>
                                                <p class="card-text">The empathise step within Design Thinking</p>
                                            </a>
                                            <hr />
                                            <div class="step-information">
                                                <p class="card-text text-muted h6">Status:
                                                    Not Started</p>
                                                <p class="card-text text-muted h6">Resources:
                                                    1</p>
                                                <p class="card-text text-muted h6">Templates:
                                                    1</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <div class="image-container">
                                            <img class="card-img-top"
                                                src="https://res.cloudinary.com/newxperience/image/upload/v1636711280/Xperience%20DezignWiz/design_thinking_placeholder_ebd5z6.jpg">

                                            <div class="image-flash">
                                                <p class="author">Step Number: 3 </p>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <a href="#" class="post-link">
                                                <h2 class="card-title">Define</h2>
                                                <p class="card-text">The definition step within Design Thinking</p>
                                            </a>
                                            <hr />
                                            <div class="step-information">
                                                <p class="card-text text-muted h6">Status:
                                                    Not Started</p>
                                                <p class="card-text text-muted h6">Resources:
                                                    1</p>
                                                <p class="card-text text-muted h6">Templates:
                                                    1</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <div class="image-container">
                                            <img class="card-img-top"
                                                src="https://res.cloudinary.com/newxperience/image/upload/v1636711280/Xperience%20DezignWiz/design_thinking_placeholder_ebd5z6.jpg">

                                            <div class="image-flash">
                                                <p class="author">Step Number: 4 </p>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <a href="#" class="post-link">
                                                <h2 class="card-title">Ideate</h2>
                                                <p class="card-text">The ideate step within Design Thinking</p>
                                            </a>
                                            <hr />
                                            <div class="step-information">
                                                <p class="card-text text-muted h6">Status:
                                                    Not Started</p>
                                                <p class="card-text text-muted h6">Resources:
                                                    1</p>
                                                <p class="card-text text-muted h6">Templates:
                                                    1</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <div class="image-container">
                                            <img class="card-img-top"
                                                src="https://res.cloudinary.com/newxperience/image/upload/v1636711280/Xperience%20DezignWiz/design_thinking_placeholder_ebd5z6.jpg">

                                            <div class="image-flash">
                                                <p class="author">Step Number: 5 </p>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <a href="#" class="post-link">
                                                <h2 class="card-title">Prototype</h2>
                                                <p class="card-text">TThe prototype step within Design Thinking</p>
                                            </a>
                                            <hr />
                                            <div class="step-information">
                                                <p class="card-text text-muted h6">Status:
                                                    Not Started</p>
                                                <p class="card-text text-muted h6">Resources:
                                                    1</p>
                                                <p class="card-text text-muted h6">Templates:
                                                    1</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <div class="image-container">
                                            <img class="card-img-top"
                                                src="https://res.cloudinary.com/newxperience/image/upload/v1636711280/Xperience%20DezignWiz/design_thinking_placeholder_ebd5z6.jpg">

                                            <div class="image-flash">
                                                <p class="author">Step Number: 6 </p>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <a href="#" class="post-link">
                                                <h2 class="card-title">Test</h2>
                                                <p class="card-text">The testing step within Design Thinking</p>
                                            </a>
                                            <hr />
                                            <div class="step-information">
                                                <p class="card-text text-muted h6">Status:
                                                    Not Started</p>
                                                <p class="card-text text-muted h6">Resources:
                                                    1</p>
                                                <p class="card-text text-muted h6">Templates:
                                                    1</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}