{% extends "base.html" %}

{% block content %}

<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="mb-3 bolder">Design Thinking Steps </h1>
                <p>Welcome to Xperience DezignWiz. As a new Design Thinker, have you struggled to keep up with all of
                    the steps involved in each process?</p>
                <p>This site aims to provide you with:</p>
                <ul>
                    <li> <i class="far fa-hand-point-right logo-small"></i> An overview of each step</li>
                    <li> <i class="far fa-hand-point-right logo-small"></i> Provide easy to use document templates</li>
                    <li> <i class="far fa-hand-point-right logo-small"></i> Provide resources which allow you to revise
                        the design thinking step in totality</li>
                    <li> <i class="far fa-hand-point-right logo-small"></i> Once you have gathered your own research, use our
                        report tool to better illustrate your gathered data </li>
                    <li> <i class="far fa-hand-point-right logo-small"></i> Easily add your data to the personas template.</li>
                </ul>
                <p>We hope you enjoy working through the process.
                </p>
            </div>
            <div class="col-12 text-end">
                <a class="btn btn-direction-color mb-3 mr-1" href="{% url 'home' %}" role="button">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-direction-color mb-3" href="{% url 'next' %}" role="button">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            {% block first %}
            {% endblock %}
            {% block next %}
            {% endblock %}
        </div>
    </div>
</section>
{% endblock %}