{% extends "base.html" %}

{% block content %}

<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1 class="mb-3 bolder">Design Thinking Steps </h1>
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-direction-color mb-3 mr-1" href="{% url 'home' %}" role="button">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-direction-color mb-3 " href="{% url 'next' %}" role="button">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            {% block first %}
            {% endblock %}
            {% block next %}
            {% endblock %}
        </div>
    </div>
</section>
{% endblock %}