{% extends "base.html" %}

{% block content %}

<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-3">Design Thinking Steps </h3>
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1" href="{% url 'home' %}" role="button">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3 " href="{% url 'next' %}" role="button">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div class="row">
                    {% for step in step_next %}
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <div class="image-container">
                                {% if "placeholder" in step.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/newxperience/image/upload/v1636711280/Xperience%20DezignWiz/design_thinking_placeholder_ebd5z6.jpg">
                                {% else %}
                                <img class="card-img-top" src=" {{ step.featured_image.url }} ">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Step Number: {{ step.order_number }} </p>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="#" class="post-link">
                                    <h2 class="card-title">{{ step.title }}</h2>
                                    <p class="card-text">{{ step.excerpt }}</p>
                                </a>
                                <hr />
                                <div class="step-information">
                                    <p class="card-text text-muted h6">Status:
                                        {{ step.progress }}</p>
                                    <p class="card-text text-muted h6">Resources:
                                        {{ step.number_of_resources }}</p>
                                    <p class="card-text text-muted h6">Templates:
                                        {{ step.number_of_templates }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
</section>
{%endblock%}