{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<div class="jumbotron">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 jumbotron-text">
                <h1 class="step-title">{{ step.title }}</h1>
                <!-- step author goes before the | the step's created date goes after -->
                <p class="step-subtitle">Step Number: {{ step.order_number }} | Status:
                    {{ step.progress }}</p>
            </div>
            <div class="d-none d-md-block col-md-6">
                <!-- The featured image URL goes in the src attribute -->
                <p class="steps-icon"><i class="fas fa-cogs"></i></p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            {% if "placeholder" in step.step_image.url %}
            <div class="step-image"><img
                    src="https://res.cloudinary.com/newxperience/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1636711280/Xperience%20DezignWiz/design-thinking-placeholder.jpg"
                    class="img-fluid image-inner" alt="Responsive image"></div>
            {% else %}
            <div class="step-image"><img src=" {{ step.step_image.url }}" class="img-fluid image-inner"
                    alt="Responsive image"></div>
            {% endif %}
        </div>
        <div class="col-md-8 card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text ">
                    {{ step.excerpt | safe }}
                </p>
                <div class="row">

                    <div class="col-2">
                        <!-- The number of likes goes before the closing strong tag -->
                        <strong class="text-secondary"> Resources: {{ step.number_of_resources }} </strong>
                    </div>
                    <div class="col-2">
                        <strong class="text-secondary">
                            <!-- Our total_comments variable goes before the closing strong tag -->
                            Templates: {{ step.number_of_templates }}</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 text-end">
            <!--Tooltip code from W3 school tutorial and adapted for site 
          https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip_arrow_bottom
          -->
            {% if "Getting Started" in step.title %}
            <a class="btn btn-direction-color mb-3 mr-1" href="{% url 'home' %}" role="button"
                aria-label="button to be clicked to view the previous step" data-toggle="tooltip" data-placement="top" title="Previous"><i class="fa fa-arrow-left"></i></a>
            <a class="btn btn-direction-color  mb-3"
                href="https://8000-plum-cat-mt2ogx7v.ws-eu18.gitpod.io/empathy/" role="button"
                aria-label="button to be clicked to view the next step" data-toggle="tooltip" data-placement="top" title="Next"><i class="fa fa-arrow-right"></i></a>
            {% elif "Empathy" in step.title %}
            <a class="btn btn-direction-color mb-3 mr-1"
                href="https://8000-plum-cat-mt2ogx7v.ws-eu18.gitpod.io/getting-started/" role="button"
                aria-label="button to be clicked to view the previous step" data-toggle="tooltip" data-placement="top" title="Previous">
                <i class="fa fa-arrow-left"></i>
            </a>
            <a id="next-button" class="btn btn-direction-color mb-3"
                href="https://8000-plum-cat-mt2ogx7v.ws-eu18.gitpod.io/define/" role="button"
                aria-label="button to be clicked to view the next step" data-toggle="tooltip" data-placement="top" title="Next">
                <i class="fa fa-arrow-right"></i>
            </a>
            {% elif "Define" in step.title %}
            <a id="prev-button" class="btn btn-direction-color mb-3 mr-1"
                href="https://8000-plum-cat-mt2ogx7v.ws-eu18.gitpod.io/empathy/" role="button"
                aria-label="button to be clicked to view the previous step" data-toggle="tooltip" data-placement="top" title="Previous"> 
                <i class="fa fa-arrow-left"></i>
            </a>
            <a id="next-button" class="btn btn-direction-color mb-3"
                href="https://8000-plum-cat-mt2ogx7v.ws-eu18.gitpod.io/ideate/" role="button"
                aria-label="button to be clicked to view the next step" data-toggle="tooltip" data-placement="top" title="Next">
                <i class="fa fa-arrow-right"></i>
            </a>
            {% elif "Ideate" in step.title %}
            <a id="prev-button" class="btn btn-direction-color mb-3 mr-1"
                href="https://8000-plum-cat-mt2ogx7v.ws-eu18.gitpod.io/define/" role="button"
                aria-label="button to be clicked to view the previous step" data-toggle="tooltip" data-placement="top" title="Previous">
            <i class="fa fa-arrow-left"></i>
            </a>
            <a class="btn btn-direction-color mb-3"
                href="https://8000-plum-cat-mt2ogx7v.ws-eu18.gitpod.io/prototype/" role="button"
                aria-label="button to be clicked to view the next step" data-toggle="tooltip" data-placement="top" title="Next">
                <i class="fa fa-arrow-right"></i>
            </a>
            {% elif "Prototype" in step.title %}
            <a class="btn btn-direction-color mb-3 mr-1"
                href="https://8000-plum-cat-mt2ogx7v.ws-eu18.gitpod.io/ideate/" role="button"
                aria-label="button to be clicked to view the previous step" data-toggle="tooltip" data-placement="top" title="Previous">
                <i class="fa fa-arrow-left"></i>
            </a>
            <a class="btn btn-direction-color mb-3"
                href="https://8000-plum-cat-mt2ogx7v.ws-eu18.gitpod.io/test/" role="button"
                aria-label="button to be clicked to view the next step" data-toggle="tooltip" data-placement="top" title="Next">
                <i class="fa fa-arrow-right"></i>
            </a>
            {% elif "Test" in step.title %}
            <a id="prev-button" class="btn btn-direction-color mb-3 mr-1"
                href="https://8000-plum-cat-mt2ogx7v.ws-eu18.gitpod.io/prototype/" role="button"
                aria-label="button to be clicked to view the previous step" data-toggle="tooltip" data-placement="top" title="Previous">
                <i class="fa fa-arrow-left"></i>
            </a>
            <a id="next-button" class="btn btn-direction-color mb-3" href="{% url 'home' %}" role="button"
                aria-label="button to be clicked to go back to home page" data-toggle="tooltip" data-placement="top" title="Home">
                <i class="fa fa-arrow-right"></i>
            </a>
            {% else %}
            <a id="prev-button" class="btn btn-direction-color mb-3 mr-1 tooltip" href="{% url 'home' %}" role="button"
                aria-label="button to be clicked to go back to home page " data-toggle="tooltip" data-placement="top" title="Home">
                <i class="fa fa-arrow-left">
            </a>
            {% endif %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <hr>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Resources:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
                {{ step.resources_as_list }}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- The commenter's name goes here. Check the model if you're not sure what that is -->

                    </p>
                    <!-- The body of the comment goes before the | -->

                </div>
                <!-- Our for loop ends here -->

            </div>
        </div>
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Templates:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
                {{ step.templates_as_list }}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- The commenter's name goes here. Check the model if you're not sure what that is -->

                    </p>
                    <!-- The body of the comment goes before the | -->

                </div>
                <!-- Our for loop ends here -->

            </div>
        </div>
        <div class="row">
            <div class="col-md-8 card mb-4  mt-3 ">
                <h3>Comments:</h3>
                <p>Create your own comments to track your progress through the Design Thinking process.</p>
                <div class="card-body">
                    <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
                    {% for comment in comments %}
                    <div class="comments" style="padding: 10px;">
                        <p class="font-weight-bold">
                            <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                            {{ comment.name }}
                            <span class=" text-muted font-weight-normal">
                                <!-- The comment's created date goes here -->
                                {{ comment.created_on }}
                            </span> wrote:
                        </p>
                        <!-- The body of the comment goes before the | -->
                        {{ comment.body | linebreaks }}
                    </div>
                    <!-- Our for loop ends here -->
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4 card mb-4  mt-3 ">
                <div class="card-body">
                    {% if user.is_authenticated %}
                    <h3>Leave a comment:</h3>
                    <p>Posting as: {{ user.username }}</p>
                    <form method="post" style="margin-top: 1.3em;">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}