{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 card mb-4  mt-3 ">
                <div class="card-body">
                    {% if user.is_authenticated %}
                    <h3>Design Thinking Survey:</h3>
                    <p>Completed as : {{ user.username }}</p>
                    <form method="post" style="margin-top: 1.3em;">
                        {{ survey_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                    </form>
                    {% endif %}
                </div>
            </div>
</section>
{% endblock %}